<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>controller.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailController</servlet-name>
        <servlet-class>controller.CourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListUser</servlet-name>
        <servlet-class>controller.ViewListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>controller.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmKey</servlet-name>
        <servlet-class>controller.ConfirmKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordForgot</servlet-name>
        <servlet-class>controller.ChangePasswordForgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserAdmin</servlet-name>
        <servlet-class>controller.EditUserAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProfileAdmin</servlet-name>
        <servlet-class>controller.CreateProfileAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCourse</servlet-name>
        <servlet-class>controller.ManageCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>controller.UpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>controller.DeleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCourse</servlet-name>
        <servlet-class>controller.InsertCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertQuiz</servlet-name>
        <servlet-class>controller.InsertQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertClass</servlet-name>
        <servlet-class>controller.InsertClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageClass</servlet-name>
        <servlet-class>controller.ManageClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuiz</servlet-name>
        <servlet-class>controller.EditQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizController</servlet-name>
        <servlet-class>controller.DeleteQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertQuestion</servlet-name>
        <servlet-class>controller.InsertQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCourseOfClass</servlet-name>
        <servlet-class>controller.ListCourseOfClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignUser</servlet-name>
        <servlet-class>controller.AssignUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignStudent</servlet-name>
        <servlet-class>controller.AssignStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>controller.DeleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClass</servlet-name>
        <servlet-class>controller.UpdateClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClass</servlet-name>
        <servlet-class>controller.DeleteClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuiz</servlet-name>
        <servlet-class>controller.DoQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuiz</servlet-name>
        <servlet-class>controller.SubmitQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuiz</servlet-name>
        <servlet-class>controller.ViewQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCourseIntoClass</servlet-name>
        <servlet-class>controller.InsertCourseIntoClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailController</servlet-name>
        <url-pattern>/courseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListUser</servlet-name>
        <url-pattern>/viewlistuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/searchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmKey</servlet-name>
        <url-pattern>/confirmKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordForgot</servlet-name>
        <url-pattern>/changePasswordForgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserAdmin</servlet-name>
        <url-pattern>/edituseradmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProfileAdmin</servlet-name>
        <url-pattern>/createprofileadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCourse</servlet-name>
        <url-pattern>/manageCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/updateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/deleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCourse</servlet-name>
        <url-pattern>/insertCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertQuiz</servlet-name>
        <url-pattern>/insertQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertClass</servlet-name>
        <url-pattern>/insertclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClass</servlet-name>
        <url-pattern>/manageclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuiz</servlet-name>
        <url-pattern>/editQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizController</servlet-name>
        <url-pattern>/deleteQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertQuestion</servlet-name>
        <url-pattern>/insertQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCourseOfClass</servlet-name>
        <url-pattern>/listcourseofclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignUser</servlet-name>
        <url-pattern>/assignuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignStudent</servlet-name>
        <url-pattern>/assignstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/deleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClass</servlet-name>
        <url-pattern>/updateclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClass</servlet-name>
        <url-pattern>/deleteclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuiz</servlet-name>
        <url-pattern>/doQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuiz</servlet-name>
        <url-pattern>/submitQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuiz</servlet-name>
        <url-pattern>/viewQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCourseIntoClass</servlet-name>
        <url-pattern>/insertcourseintoclass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
